.contact {
  grid-area: contact;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  grid-gap: 10px;
}

.contact > * {
  font-family: inherit;
  font-weight: 500;
}

.contact input,
.contact textarea {
  border-radius: 4px;
  background-color: var(--text-color);
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  padding-left: 10px;
  outline: none;
  font-size: 16px;
  transition: all 0.2s ease-in;
  box-shadow: none;
}

.contact input {
  height: 40px;
}

.contact textarea {
  height: 80px;
  padding-top: 10px;
  resize: vertical;
}

.contact-subject,
.contact-message {
  grid-column: 1 / -1;
}

.contact-button {
  height: 40px;
  background-image: url(../images/texture.svg);
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  margin-top: 10px;
  max-width: 150px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in;
  box-shadow: -3px 4px 0 rgba(0, 0, 0, 0.2);
}

.contact-button:hover {
  filter: brightness(85%);
}

@media (max-width: 500px) {
  .contact > * {
    grid-column: 1 / -1;
  }
  .contact-button {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .contact {
    padding: 10px;
  }
}
