.countdown {
  background-image: url(../images/texture.svg);
  background-color: #4c2a85;
  padding: 20px;
  grid-area: countdown;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, minmax(75px, 150px));
  grid-gap: 10px;
  justify-content: center;
  border-bottom: 2px solid black;
}

.countdown-segment {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  justify-items: center;
}

.countdown-segment-number {
  font-family: Peace;
  font-size: 6vmin;
  font-weight: 100;
}

.countdown-segment-caption {
  font-size: 14px;
}
