.countdown {
  background-color: #4c2a85;
  padding: 20px;
  grid-area: countdown;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-gap: 40px;
  justify-items: center;
  justify-content: center;
}

.countdown-segment {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  justify-items: center;
}

.countdown-segment-number {
  font-family: Peace;
  font-size: 6vmin;
  font-weight: 100;
}

.countdown-segment-caption {
  font-size: 14px;
}

@media (max-width: 500px) {
  .countdown {
    grid-gap: 10px;
  }
}
