.description {
  overflow: hidden;
  grid-area: description;
  display: grid;
  font-size: 16px;
  max-width: 700px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.description-text {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  color: var(--black);
}

@media (max-width: 700px) {
  .description-text {
    padding: 10px 20px;
  }
}
