:root {
  --primary-color: #4c2a85;
  --text-color: #ffffff;
  --secondary-color: #000013;
  --warning-color: #fa8334;
  --danger-color: #ff312e;
  --success-color: #4c2a85;
}

@font-face {
  font-family: Peace;
  src: url(../fonts/peace_sans.ttf);
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(../images/dust_scratches.png);
  min-height: calc(100vh - 100px);
  margin: 0;
  background-attachment: fixed;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
