.social-links {
  grid-area: social;
  align-self: start;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  grid-gap: 30px;
  margin-top: 70px;
  width: 300px;
}

.social-link {
  color: var(--primary-color);
  font-weight: 500;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.social-link:hover {
  filter: brightness(85%);
  text-decoration: underline;
}

.social-logo {
  width: 100px;
}

.social-text {
  font-size: 16px;
}

@media (max-width: 500px) {
  .social-links {
    margin-top: 30px;
  }
}
