.notification {
  border-radius: 4px;
  display: grid;
  grid-gap: 10px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  grid-template-columns: 1fr;
  border: 1px solid var(--secondary-color);
  background-image: url(../images/texture.svg);
  background-color: #5386e4;
  position: relative;
  justify-self: center;
  align-items: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(0);
}

.notification[hidden] {
  transform: translateY(100%);
}

.notification p {
  font-weight: 500;
  padding: 15px;
  display: grid;
  justify-items: center;
}

.notification p:after {
  margin-top: 10px;
  width: 80%;
  content: "";
  height: 5px;
  background: var(--green);
  box-shadow: -3px 4px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .notification {
    width: calc(100vw - 40px);
  }
}
