.notification {
  border-radius: 4px;
  display: grid;
  grid-gap: 10px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  grid-template-columns: 1fr;
  border: 1px solid var(--primary-color);
  background-image: url(../images/circuit-board.svg);
  background-color: var(--green);
  position: relative;
  justify-self: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(100%);
}

.notification.visible {
  transform: translateY(0);
}

.notification img {
  justify-self: center;
  align-self: center;
  width: 60px;
}

.notification p {
  color: var(--secondary-text-color);
  font-weight: 700;
  align-self: center;
  padding: 10px;
}

@media (max-width: 700px) {
  .notification {
    width: calc(100vw - 40px);
  }
}
